.header {
    background: #eee;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: inline-flex;
    margin-left: 144px;
    &__list {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }
    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }
}
.top-act {
    display: inline-flex;
    align-items: center;
}
.top-act__user {
    width: 50px;
    height: 50px;
}
.top-act__avatar {
    width: 100%;
    object-fit: cover;
}
